@import "tailwindcss";

:root {
  font-family: var(--vscode-font-family, system-ui, Avenir, Helvetica, Arial, sans-serif);
  font-size: var(--vscode-font-size, 13px);
  font-weight: 400;
  line-height: 1.5;

  color: var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  font-family: var(--vscode-font-family);
}

#app {
  margin: 0 auto;
  text-align: center;
}

.tab-item {
	@apply 
	flex items-center justify-center 
	aspect-square rounded-md p-4
	transition-all duration-200 
	bg-(--vscode-tab-inactiveBackground) hover:bg-(--vscode-list-hoverBackground)
	text-(--vscode-font-size) font-(family-name:--vscode-editor-font-family)
	cursor-pointer;
}

.tab-item.active {
	@apply ring-2 ring-(--vscode-tab-activeBorderTop) bg-(--vscode-list-hoverBackground);
}
